# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
.env/

# Environment variables
.env

# Logs
*.log

# Byte-compiled files
*.pyc

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
